:root {
  --color-ide: #2b8f88;
  --primary: #2a6935;
  --bg-main: #f7f7f7;
  --bg-header: #c5dcca;
  --bg-footer: #16161689;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--primary);
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  background-color: var(--bg-main);
  height: 100vh;
  /* background-color: yellowgreen; */
}

/* SCROLLBAR */

* ::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  width: 8px;
  border: none;
  background: transparent;
}

* ::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
}

* ::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--primary);
}

* ::-webkit-scrollbar-thumb:hover {
  background-color: #25592d;
  cursor: pointer;
}

* ::-webkit-scrollbar-track {
  background-color: #e7e7e7;
}

* ::-webkit-scrollbar-track:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}
/* MISC */

a {
  text-decoration: none;
}

/* HEADER */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.6rem 1rem;
  align-items: center;
  text-align: center;
  background-color: var(--bg-header);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23abd3a1' fill-opacity='0.49' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

#div-left {
  text-align: start;
}

.main-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.subtitle {
  color: var(--primary);
  font-weight: 300;
}

hr {
  height: 1px;
  background-color: var(--color-ide);
  border: none;
}

.logo_ide_text {
  font-size: 0.95rem;
  font-weight: 300;
  color: var(--color-ide);
}

#div-right {
  margin-left: auto;
}

#div-right img {
  height: 2.5rem;
  width: auto;
}

/* iFRAME */
.map-container {
  height: 100%;
}

#mapa {
  min-height: 100%;
  width: 100%;
  padding: 0 0.5rem;
}

/* FOOTER */
footer {
  background-color: var(--bg-footer);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

footer i {
  color: #ffffff;
}

footer a,
p {
  color: #ffffff;

  font-weight: 300;
}

@media (max-width: 600px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #div-right {
    margin: 0 auto;
  }

  #div-left {
    text-align: center;
  }

  footer {
    display: block;
    text-align: center;
  }
}
